    <%= render "home/hero" %>
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <%= image_tag("clients/client-1.png", class:"img-fluid" ) %>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <%= image_tag("clients/client-2.png", class:"img-fluid" ) %>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <%= image_tag("clients/client-3.png", class:"img-fluid" ) %>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <%= image_tag("clients/client-4.png", class:"img-fluid" ) %>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <%= image_tag("clients/client-5.png", class:"img-fluid" ) %>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <%= image_tag("clients/client-6.png", class:"img-fluid" ) %>
          </div>

        </div>

      </div>
    </section>

    <section id="about" class="about">
      <div class="container">

        <div class="section-title" >
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class=""  >
            <p>
            Altra HR Consultancy is a boutique staffing company serving in Addis Abeba since 2020. Altra HR 
            Consultancy has been immensely successful in 
            creating a global network of highly adept intelligent workforce that can help a company achieve 
            their mission-critical projects and goals. Keeping 
            pace with projects and being on the lookout for 
            the extremely talented individuals has become ever 
            more challenging. Here is where Altra HR Consultancy comes into play to bring the best suited 
            talent for your company.........
            </p>
            <a href="/about" class="btn-learn-more">Learn More</a>
        </div>

      </div>
    </section>

    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"  >
            <%= image_tag("counts-img.svg", class:"img-fluid" ) %>
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0"  >
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    
                    <p><strong>Happy Clients</strong> Because we put our customers first.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    
                    <p><strong>Projects</strong> Done in a most proffetional ways.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    
                    <p><strong>Years of experience</strong> With so much Ups and Downs but happy and amazing years.</p>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="services" class="services">
      <div class="container">

        <div class="section-title" >
          <h2>Services</h2>
          <p>From Many Services We Provide You and Your Business Some are</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" >
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Consulting services</a></h4>
              <p class="description">Altra HR Consultancy provides top consulting talent 
                quickly and at no additional cost. We work on W2, 
                1099 contracts and take care of all the hassles like 
                payroll, taxes, time tracking, and workers comp insurance. Each candidate of ours is well screened and 
                referenced for our client's satisfaction.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box"  >
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Full-time employees</a></h4>
              <p class="description">We provide the best possible talent for your full-time 
                hiring needs without leaving your pockets empty. We 
                beat all the competition fees and guarantee the best 
                talent.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box"  >
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Temp – to – perm hires</a></h4>
              <p class="description">You need to fill a role but before that you want to be 
              doubly sure that it's the right fit. No problem at all, 
              we provide temp-to-hire resources who can work for 
              you on a short-term contract. If everything goes well, 
              they can be hired as a full-time resource.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box"  >
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Consulting service</a></h4>
              <p class="description">Whether it's building attractive websites, designing 
              business cards, company swag, stationery, or some 
              market research project that needs to be done, our 
              freelancers can get it done for you.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
        </div>

        <div class="testimonials-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden aos-init aos-animate" >
            <div class="swiper-wrapper" id="swiper-wrapper-b69e1091059895c6a6" aria-live="off" style="transform: translate3d(-2864px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" role="group" aria-label="5 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="4">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("testimonials/testimonials-5.jpg", class:"testimonial-img" ) %>
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide" role="group" aria-label="1 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="0">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("testimonials/testimonials-1.jpg", class:"testimonial-img" ) %>
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" role="group" aria-label="2 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="1">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("testimonials/testimonials-2.jpg", class:"testimonial-img" ) %>
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="2">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("testimonials/testimonials-3.jpg", class:"testimonial-img" ) %>
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide swiper-slide-active" role="group" aria-label="4 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="3">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("testimonials/testimonials-4.jpg", class:"testimonial-img" ) %>
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide swiper-slide-next" role="group" aria-label="5 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="4">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("testimonials/testimonials-5.jpg", class:"testimonial-img" ) %>
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="1 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="0">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <%= image_tag("testimonials/testimonials-1.jpg", class:"testimonial-img" ) %>
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            </div>
          <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

      </div>
    </section>

    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" >
          <h2>Team</h2>
          <p>Meet Some of Our Professionals Working Night and Day to Make Your Dream Come True</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" >
              <div class="member-img">
                <%= image_tag("team/team-1.jpg", class:"img-fluid" ) %>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member"  >
              <div class="member-img">
                <%= image_tag("team/team-2.jpg", class:"img-fluid" ) %>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member"  >
              <div class="member-img">
                <%= image_tag("team/team-3.jpg", class:"img-fluid" ) %>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member"  >
              <div class="member-img">
                <%= image_tag("team/team-4.jpg", class:"img-fluid" ) %>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" >
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" >
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>What is HR Outsoursing?</h4>
          </div>
          <div class="col-lg-7">
            <p>
            HRO, or human resource outsourcing, is an arrangement in which a third-party administers HR on behalf of another business, allowing it to focus more attention on growth-related objectives.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch"  >
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>How safe is my Company private information when i work with you?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Our Bigest Priority are Our Clients We always Aim To satisfy you Wich Includes Keeping your Privte Data <b> Private!</b>
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch"  >
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Why Should my Company outsource HR?</h4>
          </div>
          <div class="col-lg-7">
            <p>
            Outsourcing your HR needs frees key personnel from the paperwork and complex issues of HR administration, therefore allowing your employees to focus on generating income.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch"  >
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>What Types of Companies Use HR Strategies?</h4>
          </div>
          <div class="col-lg-7">
            <p>
            Businesses of every industry and any size can find the use of HR Strategies helpful in allowing their company to run smoother.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch"  >
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Can I Choose Which Services I Want to use with HR Strategies?</h4>
          </div>
          <div class="col-lg-7">
            <p>
            HR Strategies is proud to be able to offer you customizable boutique style solutions to meet the individual needs of your company. As a client of HR Strategies you are able to contract for the services that you explicitly need, and may choose either a PEO or HRO arrangement.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" >
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" >
            <div class="contact-about">
              <h3 style="font-family:Barrista-Regular; font-size:50ppx">altra</h3>
              <p>altra is currently stationed inside the capital city of Ethiopia - Addis Ababa.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0"  >
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Flint-Stone Ledeta Mercato Building<br>Addis Ababa, Ledeta</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>altra@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+251 999 999 999</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12"  >
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>
